/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 18, 2018, 11:07:49 AM
    Author     : cs559
*/

body {
    margin: 0px !important;
}

#topPanel {

    top: 0%;
    width:100%;
    height:10%;
    background: hsl(311, 100%, 96%);
    position: absolute;
    /*background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);*/
}
#topPanel > div {
    position: absolute;
}

.menuTitle {
    top: 5%;
    width: 20%;
    height: 50%;
    left: 40%;
    text-align: center;
    /*animation: App-logo-spin infinite 5s linear;*/
    font-size: 1.3em;
}

.menuLinks {
    bottom: 5%;
    width: 80%;
    height: 50%;
    left: 10%;
    display: flex;
    flex-direction: row
}

.menuItem {
    flex-basis: auto;
    margin: auto;
    color: black;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: blue;
}

/*@keyframes App-logo-spin {*/
    /*0%   { transform: rotateY(0deg); }*/
    /*25%   { transform: rotateY(0deg); }*/
    /*50%  { transform: rotateY(360deg); }*/
    /*75%  { transform: rotateX(0deg); }*/
    /*100% { transform: rotateX(360deg); }*/
/*}*/

#centerPanel {
    background-color: #dad37a;
    position: absolute;
    height: 90%;
    top: 10%;
    left:15%;
    width: 75%;
}

#rightPanel {
    background-color: #daa5b1;
    position: absolute;
    height: 90%;
    top: 10%;
    right:0%;
    width: 10%;
}

#leftPanel {
    background-color: #a3dad0;
    position: absolute;
    height: 90%;
    top: 10%;
    left:0%;
    width: 15%;
}

