<IfModule mod_rewrite.c>
Options -MultiViews
RewriteEngine on

# For the primary categories:
RewriteRule ^shop/(coffee|goodies)/?$ shop.php?type=$1

# For sales:
RewriteRule ^shop/sales/?$ /sales.php

# For specific products:
RewriteRule ^browse/(coffee|goodies)/([A-Za-z\+\-]+)/([0-9]+)/?$ browse.php?type=$1&category=$2&id=$3

# For HTTPS pages:
RewriteCond %{HTTPS} off
RewriteRule ^(checkout\.php|billing\.php|final\.php|admin/(.*))$ https://%{HTTP_HOST}/$1 [R=301,L]

</IfModule>