/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2018, 11:07:49 AM
    Author     : cs559
*/

.mainMenu {
    top: 0%;
    width:100%;
    height:10%;
    background: hsl(187, 99%, 85%);
    position: absolute;
}
.mainMenu > div {
    position: absolute;
}

.menuTitle {
    top: 5%;
    width: 20%;
    height: 50%;
    left: 40%;
    text-align: center;
    animation: App-logo-spin infinite 5s linear;
    font-size: 1.3em;
}

.menuLinks {
    bottom: 5%;
    width: 80%;
    height: 50%;
    left: 10%;
    display: flex;
    flex-direction: row
}

.menuItem {
    flex-basis: auto;
    margin: auto;
}


@keyframes App-logo-spin {
    0%   { transform: rotateY(0deg); }
    25%   { transform: rotateY(0deg); }
    50%  { transform: rotateY(360deg); }
    75%  { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
}